/* Global Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    min-height: 100vh;
}

/* Sidebar */
.sidebar {
    width: 250px;
    background-color: #000;
    color: white;
    padding-top: 20px;
    position: fixed;
    height: 100%;
}

.sidebar-header {
    text-align: center;
    margin-bottom: 20px;
}

/*.sidebar-header h2 {
    color: #fff;
    margin: 0;
}*/

.sidebar img{
    width: 220px;
    height: 120px;
    position: relative;
    bottom: 30px;
    right: 10px;
}

.sidebar-nav ul {
    list-style-type: none;
    padding: 0;
    position: relative;
    bottom: 65px;
}

.sidebar .deco{
    position: relative;
    top: 185px;
}

.navbar h2{
    font-size: 30px;
    letter-spacing: 1px;
    font-weight: 20px;
}

.navbar h2::first-letter{
    color:#29d9d5 ;
    font-family: 'Courier New', Courier, monospace;
    font-size: 40px;
}

.sidebar-nav ul li {
    padding: 15px 20px;
}

.sidebar-nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 18px;
}

.sidebar-nav ul li:hover {
    background-color: #444;
}

.sidebar-nav ul li a:hover {
    color: #ddd;
}

.sidebar-nav ul li i{
    margin-left: 10px;
}

/* Main Content */
.main-content {
    margin-left: 250px; /* space for sidebar */
    padding: 20px;
    flex-grow: 1;
}

/* Navbar */
.navbar {
    margin-top: -20px;
    margin-bottom: 50px;
    background-color: #fff;
    color: #000;
    padding: 15px;
    text-align: center;
    width: 100%;
    position: relative;
    right: 20px;
    height: 30px;
    box-shadow:0 4px 8px rgba(0, 0, 0, 0.1) ;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar img{
    width: 120px;
    height: 120px;
}

.menu ul{
    list-style: none;
}

.menu_links{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 8px 10px;
}

.menu_links li{
    margin: 8px 15px;
}

.menu_links li i{
    font-size: 16px;
    color: #000;
}

.recherche input{
    width: 450px;
    height: 32px;
    margin: 0 10px;
    border: 1.5px solid #000;
    border-radius: 16px;
    padding-left: 9px;
}

.recherche input{
    margin-left: 20px;
}

.recherche .btn{
    margin-right: 10px;
}

/* Table Section */

.content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.ajouter{
    background-color: #000;
    color: #fff;
    border: 1px solid #000;
    border-radius: 17px;
    padding: 5px 16px;
}


.table-section {
    
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

table {
    width: 100%;
    border-collapse: collapse;
    background-color: white;
}



th, td {
    padding: 12px;
    text-align: center;
    border: 1px solid #ddd;
}

th {
    background-color: #252525;
    color: white;
}

button {
    padding: 8px 12px;
    margin: 5px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.edit-btn {
    background-color: white;
    color: #000;
}

td .action{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.delete-btn {
    background-color:white;
    color: #000;
}

button:hover {
    opacity: 0.8;
}

button:active {
    transform: scale(0.98);
}


