/* Style global */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*style du nav bar */
.nav_bar{
    background-color: #000;
    width: 100%;
    height: 76px;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.logo img{
    width: 300px;
    height: 100px;
}

.list ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 40px;
}

.list ul li a{
    text-decoration: none;
    color: #fff;
    margin:0px 30px ;

}

.list li a{
    font-size: 22px;
    font-weight: 10px;
}




.bodyform{
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.form-container {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 500px;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #000;
}

/* Style des groupes de champs */
.input-group {
    margin-bottom: 15px;
}

label {
    font-size: 16px;
    font-weight: bold;
    color: #333;
    display: block;
    margin-bottom: 8px;
}

input[type="text"],
input[type="number"],
textarea {
    width: 100%;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

textarea {
    height: 100px;
}

input[type="submit"] {
    width: 100%;
    padding: 12px;
    font-size: 16px;
    background-color: #000;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #333;
}

input[required] {
    border-color: #000;
}

/* Responsivité */
@media (max-width: 600px) {
    .form-container {
        width: 90%;
    }
}
